/*
  Oh Hello!

  These are some base styles so that our tutorial looks good.

  Let's go through the important bits real quick
*/
:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #422973;
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #272727;
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  font-weight: 300;
  letter-spacing: 5px;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  text-decoration: none;
}

.nav-links a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

/* Each item in our grid will contain numbers */
.item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: var(--yellow); /* best colour */
}

.item p {
  margin: 0 0 5px 0;
}

/* Mobile first queries */
/* Larger than mobile */
@media (min-width:320px) {
  body{
    margin: 0;
  }

  .item2, .item3 {
    height: 43vh;
  }

  .item3 {
    grid-column: span 4;
  }

}

/* Larger than mobile */
@media (min-width: 400px) {
  body{
    margin: 0;
  }

  .item2, .item3 {
    height: 43vh;
  }

  .item3 {
    grid-column: span 4;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  body{
    overflow: hidden;
  }
  .nav-links{
      position: absolute;
      right: 0;
      top: 8vh;
      height: 85vh;
      background-color:  #272727;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
    }

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .item1, .item4{
      height: 60px;
      grid-column: span 4;
    }

    .item2{
      grid-column: span 1;
  
    }

    .item3{
      grid-column: span 3;
    }

    .item2, .item3 {
    height: 65vh;
    }

    .nav-links{
      width: 50%;
    }


}

